*.py[cod]
*.txt
*.corpus
*.feature
.idea/
*.iml
*.exe
*.msi
*.app
*.xls
*.xlsx

# C extensions
*.so

# Packages
*.egg
*.egg-info
docs/source/generate
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.bat