*.py[cod]
!requirements.txt
*.corpus
*.feature
.idea/
*.iml
*.exe
*.msi
*.app
*.xls
*.xlsx
*.textgrid

# C extensions
*.so

# Documentation
docs/build/
docs/source/generate/
docs/source/generated/

# Generated test files
tests/data/export

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.bat
*.txt
