*.py[cod]
*.txt
!requirements.txt
*.corpus
*.feature
.idea/
*.iml

# C extensions
*.so

# Documentation
docs/build/
docs/source/generate/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.bat